allow aprd tombstone_data_file:dir {getattr};
#allow aprd aprd:capability { dac_override sys_ptrace };

userdebug_or_eng(`
allow aprd aprd:capability { sys_ptrace };
')
allow aprd aprd:capability2 syslog;
allow aprd aprd:capability { sys_resource };

allow aprd property_socket:sock_file write;
#allow aprd apr_prop:property_service set;

allow aprd init:unix_stream_socket connectto;
allow aprd logd:unix_stream_socket connectto;

allow aprd apr_data_file:file { create open read write getattr rename setattr };
allow aprd apr_data_file:dir { read open write search add_name remove_name};
allow aprd apr_data_file:sock_file {create unlink};

#allow aprd anr_data_file:dir {search setattr read};
#allow aprd anr_data_file:file {create read open getattr};

allow aprd tombstone_data_file:dir {open read write search add_name remove_name};
allow aprd tombstone_data_file:file { create open read write getattr rename};

allow aprd system_data_file:dir {create read open write add_name remove_name};
#allow aprd system_data_file:file {create read open};
#allow aprd system_data_file:sock_file {create unlink};

#allow aprd self_system_data_file:file {open read write create getattr rename};
#allow aprd self_system_data_file:dir {read open write add_name remove_name search};
#allow aprd self_system_data_file:sock_file {create unlink};

allow aprd log_device:chr_file read;

allow aprd logdr_socket:sock_file write;

allow aprd tty_device:chr_file { open read write };

set_prop(aprd, system_prop);

allow aprd kernel:dir {search read write open unlink};
allow aprd kernel:file { create getattr open read write unlink };

allow aprd system_prop:property_service set;
allow aprd system_prop:file { open read getattr };

allow aprd system_file:file {execute_no_trans getattr execute read open};

allow aprd proc_meminfo:file {read open getattr};
allow aprd proc_cmdline:file {read open getattr};

allow aprd shell:file {open read getattr create write unlink};
allow aprd shell:dir {open read search getattr};
allow aprd shell:lnk_file {getattr read};

allow aprd init:dir {getattr search read open};
allow aprd init:file {read open getattr};
allow aprd init:lnk_file {getattr read};

allow aprd ueventd:dir {open read getattr search};
allow aprd ueventd:file {open read getattr};
allow aprd ueventd:lnk_file {getattr read};

allow aprd logd:file {open read getattr};
allow aprd logd:dir {open read getattr search};
allow aprd logd:lnk_file {getattr read};

allow aprd vold:file {open read getattr};
allow aprd vold:dir {open read getattr search};
allow aprd vold:lnk_file {read getattr};

allow aprd gatekeeperd:file {open read};
allow aprd gatekeeperd:dir {open read getattr search};
allow aprd gatekeeperd:lnk_file {read getattr};

userdebug_or_eng(`
allow aprd perfprofd:file {open read};
allow aprd perfprofd:dir {open read getattr search};
')

allow aprd lmkd:file {open read};
allow aprd lmkd:dir {open read search getattr};
allow aprd lmkd:lnk_file {getattr read};

allow aprd servicemanager:dir {open read search getattr};
allow aprd servicemanager:file {open read getattr};
allow aprd servicemanager:lnk_file {read getattr};

allow aprd surfaceflinger:dir {open read search getattr};
allow aprd surfaceflinger:file {open read};
allow aprd surfaceflinger:fd use;
allow aprd surfaceflinger:lnk_file {read getattr};
allow aprd surfaceflinger:binder {transfer call};



#allow aprd meminfo_service:service_manager find;

allow aprd system_server:dir {getattr search open read};
allow aprd system_server:file {read open};
allow aprd system_server:lnk_file {getattr read};
allow aprd system_server:binder call;
#allow aprd proc:file { open read getattr };
allow aprd proc:dir {read open search};

allow aprd proc_uptime:file { open read getattr };

#allow aprd apr_prop:file { open read getattr };

allow aprd kernel:file { open read getattr };
#allow aprd configfs:file { read open };
allow aprd configfs:dir { search };

allow aprd mmcblk_device:blk_file { open read getattr };
allow aprd block_device:dir { search };

#============= aprd androido bringup==============

allow aprd init:dir search;
allow aprd init:file { read getattr open };
allow aprd kernel:dir search;
allow aprd lmfs:file read;
allow aprd logd:file read;
allow aprd netd:file read;
allow aprd netd:dir {getattr search open read};
#allow aprd serialno_prop:file { read getattr open };
allow aprd servicemanager:file read;
allow aprd tee:file read;
allow aprd ueventd:file read;
allow aprd vndservicemanager:file read;
allow aprd vndservicemanager:dir {getattr search open read};
allow aprd vold:file read;
allow aprd ylog:file { read open };
allow aprd ylog:dir {read open search};
allow aprd zygote:file read;

allow aprd hal_aprd_hwservice:hwservice_manager {find};
allow aprd hwservicemanager_prop:file {  read open getattr };
allow aprd hwservicemanager:file {  read open getattr };
allow aprd hwservicemanager:binder {  call transfer };

allow aprd cmd_services:unix_stream_socket { connectto read write };

allow aprd vendor_init:file { read getattr open };
allow aprd hal_keymaster_default:file { read getattr open };
allow aprd healthd:file { read getattr open };
allow aprd hal_audio_default:file { read getattr open };
allow aprd proc_asound:dir {getattr search open read};
allow aprd hal_bluetooth_default:file { read getattr open };
allow aprd hal_camera_default:file { read getattr open };





