

#allow bluetooth wcnd:unix_stream_socket { connectto sendto };
allow bluetooth serial_device:chr_file { read write open ioctl };
allow bluetooth prod_file:dir search;
allow bluetooth prod_file:file { read write open rw_file_perms setattr };
#allow bluetooth sysfs:file { read write open ioctl };
allow bluetooth ylog:unix_stream_socket { connectto sendto };
allow bluetooth input_device:dir { search };
allow bluetooth bt_prop:file {read open getattr};
allow bluetooth ctl_default_prop:property_service set;
allow bluetooth ylog_prop:file { read getattr open };

typeattribute bluetooth system_writes_vendor_properties_violators;
set_prop(bluetooth, bt_prop);
