#add for board init.rc for recovery mode
on post-fs
    insmod /vendor/lib/modules/bstclass.ko
    insmod /vendor/lib/modules/bma2x2.ko
    insmod /vendor/lib/modules/ltr_558als.ko
    insmod /vendor/lib/modules/akm09911.ko
