type slogmodem, domain, mlstrustedsubject;
type slogmodem_exec, exec_type,file_type, vendor_file_type;
type slogmodem_data, file_type, data_file_type;
type slogmodem_config_file, file_type, data_file_type;


init_daemon_domain(slogmodem)

allow slogmodem property_socket:sock_file { read write };
allow slogmodem spipe_device:chr_file { read write open };
allow slogmodem slog_device:chr_file { ioctl open read write };
allow slogmodem audio_device:chr_file { ioctl open read write };
allow slogmodem etb_device:chr_file { ioctl open read };

allow slogmodem init:unix_stream_socket connectto;
# MODEM state channel
allow slogmodem rild:unix_stream_socket { connectto read write };
#allow slogmodem download:unix_stream_socket { connectto read write };
allow slogmodem wcnd:unix_stream_socket { connectto read write };
allow slogmodem refnotify:unix_stream_socket { connectto read write };
allow slogmodem ctl_default_prop:property_service set;
#allow slogmodem system_prop:property_service set;
allow slogmodem proc:file { open read getattr write };
allow slogmodem block_device:dir search;
allow slogmodem mmcblk_device:blk_file { open read };
allow slogmodem slogmodem:netlink_kobject_uevent_socket { create read bind getopt };
allow slogmodem tty_device:chr_file { open read write };

allow slogmodem storage_file:dir { search write unlink add_name };
allow slogmodem storage_file:lnk_file { open read write create getattr unlink };
allow slogmodem mnt_media_rw_file:dir { search open read write };
allow slogmodem vfat:dir { add_name remove_name rmdir unlink getattr create search open read write };
allow slogmodem vfat:file { rename getattr create open read write unlink};
allow slogmodem exfat:dir { add_name remove_name rmdir unlink getattr create search open read write };
allow slogmodem exfat:file { rename getattr create open read write unlink};
allow slogmodem slogmodem_data:dir { add_name getattr create search open read remove_name rmdir write unlink };
allow slogmodem slogmodem_data:file { create getattr open read rename write unlink append };
#allow slogmodem ylog_file:dir { add_name getattr create search open read remove_name rmdir write unlink };
#allow slogmodem ylog_file:file { create getattr open read rename write unlink };
allow slogmodem fuse:dir { add_name create getattr open read remove_name rmdir search unlink write };
allow slogmodem fuse:file { create getattr open read rename unlink write };
allow slogmodem slogmodem_config_file:dir { add_name search write unlink remove_name};
allow slogmodem slogmodem_config_file:file { create getattr open read write unlink };
allow slogmodem tmpfs:dir {search};
allow slogmodem rootfs:dir { read open };
allow slogmodem debugfs_sipc:file { open write read getattr };
allow slogmodem debugfs_sipc:dir { search getattr open read };
allow slogmodem gnss_file:dir { open read search };
allow slogmodem gnss_file:file { getattr open read };
allow slogmodem sysfs:file { open read };
#allow slogmodem media_data_file:dir { open read search getattr };
#allow slogmodem media_data_file:file { open read };

# sdcardfs access
allow slogmodem sdcardfs:dir { add_name create getattr open read remove_name rmdir search unlink write };
allow slogmodem sdcardfs:file { create getattr open read rename unlink write };

#allow slogmodem media_rw_data_file:file { create open setattr getattr read write unlink };
#allow slogmodem media_rw_data_file:dir { add_name create open setattr getattr read write unlink search remove_name rmdir };
allow slogmodem proc_cmdline:file { open read getattr};
set_prop(slogmodem, vendor_radio_prop)
set_prop(slogmodem, vendor_engpc_prop)
set_prop(slogmodem, vendor_modem_prop)
set_prop(slogmodem, vendor_product_prop)
set_prop(slogmodem, vendor_sys_prop)
set_prop(vendor_init, vendor_product_prop)
set_prop(vendor_init, vendor_modem_prop)
